@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Noto Sans';
  width: 100%;
  height: 100vh;
  background: #fafafa;
}

main nav {
  background: #FFF;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: space-around;
  height: 75px;
  border-bottom: 1px solid #DBDBDB;
  border-top: 1px solid #DBDBDB;
  align-items: center;
}

.logo {
  font-size: 28px;
  display: flex;
  grid-column: 3;
}

.insta-logo {
  margin-top: 2px;
}


.pipeline {
  background-color: #262626;
  background-color: rgba(var(--i1d,38,38,38),1);
  height: 28px;
  margin: 0 16px;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
  width: 1px;
}


.icons-nav {
  font-size: 24px;
  grid-column: 7;
  display: flex;
}

.icon-item {
  margin: 5px 13px;
}

.search {
  grid-column: 5;
}

#search {
  width: 215px;
  height: 28px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  background: #FAFAFA;
}

