@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Noto Sans';
  width: 100%;
  background: #fafafa;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

main nav {
  background: #FFF;
  grid-column: 1 / end;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 75px;
  border-bottom: 1px solid #DBDBDB;
  border-top: 1px solid #DBDBDB;
  align-items: center;
}

.logo {
  font-size: 28px;
  display: flex;
  grid-column: 3;
}

.insta-logo {
  margin-top: 2px;
}


.pipeline {
  background-color: #262626;
  background-color: rgba(var(--i1d,38,38,38),1);
  height: 28px;
  margin: 0 16px;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
  width: 1px;
}


.icons-nav {
  font-size: 24px;
  grid-column: 7;
  display: flex;
}

.icon-item {
  margin: 5px 13px;
}

.search {
  grid-column: 5;
}

#search {
  width: 215px;
  height: 28px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  background: #FAFAFA;
}

.content {
  grid-column: 1 / end;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.card-main {
  grid-column: 4;
  background: #FFF;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  margin-top: 50px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.card-header img {
  border-radius: 100%;
  border: 3px solid rgb(204, 34, 77);
}

.card-header .username {
  font-weight: 600;
  color: #151515;
  font-size: 14px;
  margin-left: 10px;
}

.card-header .more-card {
  margin-left: auto;
}

.card-main .actions {
  font-size: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-main .actions i {
  margin-right: 15px;
  margin-left: 10px;
}

.card-main .actions i:last-child {
  margin-right: 0;
}

.card-main .actions .fa-bookmark {
  margin-left: auto;
}

.card-body {
  font-size: 14px;
  margin-left: 15px;
}

.card-body .likes {
  display: flex;
  font-size: 14px;
}

.card-body .likes img {
  border-radius: 100%;
}

.card-body .likes .text-likes {
  margin-left: 10px;
}

.card-body .description {
  display: flex;
}

.card-body .description .username{
  font-weight: bold;
}

.card-body .description .text-description {
  margin-left: 10px;
}


.card-body .comments {
  display: flex;
}

.card-body .comments .text-comments {
  margin-left: 10px;
}

.card-body .comments .username {
  font-weight: bold;
}

.card-body .date {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.add-comment #input-comment {
  border: none;
  height: 40px;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #DBDBDB;
}

.add-comment #input-comment:focus {
  outline: none;
}
